[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
sentence-transformers = "*"
torch = "*"
transformers = "*"
nltk = "*"
ordered-set = "*"
strsimpy = "*"
py-thesaurus = "*"
python-decouple = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
